
body {
  background-image: url('https://wallpapercave.com/wp/Y0kLZb7.jpg');
}

    .hold{
    position:fixed;
    left: 400px;
    top:6px;
    height: 680px;
    width: 680px;
    opacity:100%;
 }


  .lvone{
    position:fixed;
    left: 400px;
    top:6px;
    height: 680px;
    width: 680px;
    opacity:100%;
 }

  .lvtwo{
    position:fixed;
    left: 400px;
    top:6px;
    height: 680px;
    width: 680px;
    opacity:100%;
 }

.one{
  font-size: 30px;
  left: 590px;
  top: 500px;
  position: absolute;
  color: white;
}

.two{
  font-size: 14px;
  left: 520px;
  top: 100px;
  position: absolute;
  color: white;
  
}

.two2{
  font-size: 14px;
  left: 420px;
  top: 100px;
  position: absolute;
  color: white;
  
}
  
.two3{
  font-size: 14px;
  left: 490px;
  top: 100px;
  position: absolute;
  color: white;
  
}
  

.station{
  position: absolute;
  left: 400px;
  top: 260px;
  animation-name: boating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes boating{
  0%   {transform: rotate; left: 400px; top:260px;}
  25%  {transform: rotate; left: 980px;  top:260px;}
  50%  {transform: rotatey(180deg); left: 600px; top:260px;}
  75%  {transform: rotatey(180deg); left:980px; top:260px;}
  100% {transform: rotate; left:400px; top:260px;}
  }

  .open{
  position: absolute;
  left: 400px;
  top: 160px;
  animation-name: cowlick;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes cowlick{
  0%   {transform: rotatey(180deg); left: 550px; top:220px;}
  50%  {transform: rotatey(-180deg); left: 700px;  top:220px;}
  100%  {transform: rotatey(180deg); left: 550px; top:220px;}
  }

 .Again{
  position: absolute;
  left: 800px;
  top: 270px;
  animation-name: again;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes again{
  0%   {transform: rotate; left: 800px; top:270px;}
  25%  {transform: rotate; left: 500px;  top:270px;}
  50%  {transform: rotatey(180deg); left: 900px; top:270px;}
  75%  {transform: rotatey(180deg); left:420px; top:270px;}
  100% {transform: rotate; left:800px; top:270px;}
}

  .station2{
  position: absolute;
  left: 400px;
  top: 260px;
  animation-name: slowboy;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes slowboy{
  0%   {transform: rotate; left: 400px; top:200px;}
  50%  {transform: rotate; left: 930px;  top:200px;}
  100%  {transform: rotatey(180deg); left: 400px; top:200px;}
}

.speed{
  position: absolute;
  left: 980px;
  top: 260px;
  animation-name: hoops;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes hoops{
  0%   {transform: rotatez(20deg); left: 980px; top:260px;}
  25%  {transform: rotate; left: 400px;  top:260px;}
  50%  {transform: rotatey(-180deg); left: 980px; top:260px;}
  75%  {transform: rotatey(180deg); left: 400px;  top:260px;}
  100%  {transform: rotatez(20deg); left: 980px; top:260px;}
  }


.waves{
  top: 296px;
  left: 410px;
  position: fixed;
}
.waves2{
  top: 296px;
  left: 490px;
  position: fixed;
}

.waves3{
  top: 296px;
  left: 420px;
  position: fixed;
}

.waves4{
  top: 296px;
  left: 490px;
  position: fixed;
}

.waves5{
  top: 296px;
  left: 560px;
  position: fixed;
}

.waves6{
  top: 296px;
  left: 620px;
  position: fixed;
}

.waves7{
  top: 296px;
  left: 690px;
  position: fixed;
}

.waves9{
  top: 296px;
  left: 780px;
  position: fixed;
}
.waves10{
  top: 296px;
  left: 830px;
  position: fixed;
}.waves11{
  top: 296px;
  left: 910px;
  position: fixed;
}
.waves12{
  top: 296px;
  left: 990px;
  position: fixed;

}
.waves13{
  top: 296px;
  left: 1400px;
  position: relative;
}

.flow2{
  top: 380px;
  left: 450px;
  position: absolute;
}

.flow3{
  top: 350px;
  left: 900px;
  position: absolute;
}

.flow4{
  top: 500px;
  left: 540px;
  position: absolute;
}
.flow5{
  top: 420px;
  left: 690px;
  position: absolute;
}
.flow6{
  top: 500px;
  left: 900px;
  position: absolute;
}
.flow7{
  top: 500px;
  left: 540px;
  position: absolute;
}

.crab{
  position: fixed;
  left:394px;
  top: 630px;
  animation-name: crabby;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes crabby{
  0%   {transform: rotate; left: 394px; top:630px;}
 50%  {transform: rotate; left: 1004px; top:630px;}
 100%  {transform: rotate; left: 394px; top:630px;}
}

.fish1{
position: fixed;
left:1004px;
top: 400px;
animation-name: fishf;
animation-duration: 10s;
animation-iteration-count: infinite;
}


@keyframes fishf{
  0%  {transform: rotate; left: 1004px; top:500px;}
 50%  {transform: rotatey(180deg); left: 394px; top:550px;}
 100% {transform: rotate; left: 1004px; top:500px;}
}

.shark{
position: fixed;
left:1004px;
top: 500px;
animation-name: sharkf;
animation-duration: 10s;
animation-iteration-count: infinite;
}


@keyframes sharkf{
0%  {transform: rotate; left: 410px; top:500px;}
25%  {transform: rotatey(180deg); left: 660px; top:550px;}
50% {transform: rotate; left: 920px; top:500px;}
75% {transform: rotate; left: 570px; top:550px;}
100% {transform: rotate; left: 410px; top:500px;}
}

.eelf{
left:960px;
top: 330px;
animation-name: eelff;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-delay:2s;
}


@keyframes eelffyeet{
 0%   {transform: rotate; left: 960px; top:330px;}
 10%  {transform: rotate; left: 960px; top:1000px;}
 20% {transform: rotate; left: 394px; top:1000px;}
 30% {transform: rotatey(-180deg); left: 394px; top:1000px;}
 45% {transform: rotatey(180deg); left: 394px; top:330px;}
 55% {transform: rotate; left: 394px; top:330px;}
 65% {transform: rotate; left: 394px; top:1000px;}
 75% {transform: rotate; left: 960px; top:1000px;}
 85% {transform: rotate; left: 960px; top:330px;}
 100% {transform: rotate;left: 960px; top:330px;}
}

.birds{
position: fixed;
left:960px;
top: 20px;
animation-name: birds;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-delay:2s;
}

@keyframes birds{
  0%  {transform: rotate; left: 960px; top:20px;}
 50%  {transform: rotatey; left: 394px; top:20px;}
 100% {transform: rotate; left: 960px; top:20px;}
}

.birds2{
position: fixed;
left:394px;
top: 20px;
animation-name: birds2;
animation-duration: 15s;
animation-iteration-count: infinite;
animation-delay:2s;
}

@keyframes birds2{
  0%  {transform: rotate; left: 394px; top:20px;}
 50%  {transform: rotatey; left: 960px; top:20px;}
 100% {transform: rotate; left: 394px; top:20px;}
}



 .bottle{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottler;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottler
{0%  {opacity: 0%; left:900; top:-330}
 10% {opacity: 0%; left:800; top:-330}
 30% {opacity: 0%; left:800; top:-330}
 40% {opacity: 0%; left:460; top:330}
 50% {opacity: 0%; left:460; top:330}
 60% {opacity: 100%;}
 90% {left: 460px; top:630px;}
 100% {left: 460px; top:630px;}
}

.bottlex{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottlerx;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottlerx
{0%  {opacity: 0%; left:900; top:-330}
 10% {opacity: 0%; left:800; top:-330}
 30% {opacity: 0%; left:800; top:-330}
 40% {opacity: 0%; left:460; top:350}
 50% {opacity: 0%; left:460; top:350}
 60% {opacity: 0%;}
 90% {opacity: 0%;left: 460px; top:650px;}
 100% {opacity: 0%;left: 460px; top:650px;}
}

.bottle2{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottler2;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottler2
{0%  {opacity: 0%; left:900; top:-330}
 10% {opacity: 0%; left:800; top:-330}
 30% {opacity: 0%; left:800; top:-330}
 40% {opacity: 0%; left:900; top:330}
 50% {opacity: 0%; left:900; top:330}
 60% {opacity: 100%;}
 90% {left: 900px; top:630px;}
 100% {left: 900px; top:630px;}
}


.bottlex2{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottlerx2;
  animation-duration: 7s;
animation-iteration-count: infinite;
} 


 @keyframes bottlerx2
{0%  {opacity: 0%; left:900; top:-330}
 10% {opacity: 0%; left:800; top:-330}
 30% {opacity: 0%; left:800; top:-330}
 40% {opacity: 0%; left:460; top:350}
 50% {opacity: 0%; left:460; top:350}
 60% {opacity: 0%;}
 90% {opacity: 0%;left: 460px; top:650px;}
 100% {opacity: 0%;left: 460px; top:650px;}
}


.bottle3{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottler3;
  animation-duration: 8s;
animation-iteration-count: infinite;
} 


 @keyframes bottler3
{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:560; top:350}
 50% {opacity: 100%;}
 90% {opacity: 100%;left: 560px; top:650px;}
 100% {opacity: 100%;left: 560px; top:650px;}
}

.bottlex3{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottlerx3;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottlerx3
{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:560; top:350}
 50% {opacity: 0%;}
 90% {opacity: 0%;left: 560px; top:650px;}
 100% {opacity: 0%;left: 560px; top:650px;}
}


.bottle4{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottler4;
  animation-duration: 8s;
animation-iteration-count: infinite;
} 


 @keyframes bottler4
{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:760; top:350}
 50% {opacity: 100%;}
 90% {opacity: 100%;left: 760px; top:650px;}
 100% {opacity: 100%;left: 760px; top:650px;}
}

.bottlex4{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottlerx4;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottlerx4{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:790; top:350}
 50% {opacity: 0%;}
 90% {opacity: 0%;left: 79px; top:650px;}
 100% {opacity: 0%;left: 790px; top:650px;}
}


.bottle5{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottler5;
  animation-duration: 8s;
animation-iteration-count: infinite;
} 


 @keyframes bottler5
{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:760; top:350}
 50% {opacity: 100%;}
 90% {opacity: 100%;left: 760px; top:650px;}
 100% {opacity: 100%;left: 760px; top:650px;}
}

.bottlex5{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottlerx5;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottlerx5{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:790; top:350}
 50% {opacity: 0%;}
 90% {opacity: 0%;left: 79px; top:650px;}
 100% {opacity: 0%;left: 790px; top:650px;}
}


.bottlex{
  position: fixed;
  top: -330px;
  left: -460px;
  animation-name: bottlerx5;
  animation-duration: 10s;
animation-iteration-count: infinite;
} 


 @keyframes bottlerx5{
 0% {opacity: 0%; left:560; top:350}
 25% {opacity: 0%; left:790; top:350}
 50% {opacity: 0%;}
 90% {opacity: 0%;left: 79px; top:650px;}
 100% {opacity: 0%;left: 790px; top:650px;}
}
